
<div class="form-container">
  <form [formGroup]="form">
    <div class="row mb-3">
      <label for="pagNumber" class="col-sm-3 col-form-label">Número de páginas</label>
      <div class="col-sm-6">
        <div class="input-group d-flex align-items-center">
          <button class="btn btn-outline" type="button" (click)="sumar(pages)">+</button>
          <input type="text" class="form-control" id="inputPagNumber" formControlName="pages" min="1">
          <button class="btn btn-outline" type="button" (click)="restar(pages)">-</button>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <label for="languagesNumber" class="col-sm-3 col-form-label">Número de idiomas</label>
      <div class="col-sm-6">
        <div class="input-group d-flex align-items-center">
          <button class="btn btn-outline" type="button" (click)="sumar(languages)">+</button>
          <input type="text" class="form-control" id="inputLanguagesNumber" formControlName="languages" min="1">
          <button class="btn btn-outline" type="button" (click)="restar(languages)">-</button>
        </div>
      </div>
    </div>
  </form>
</div>


