.form-container {
    border: 3px solid black;
    border-radius: 2%;
    width: 380px;
    padding: 10px;

  }
.row label,.row input {
    width: 45%;
   
  }
.btn{
  background-color: coral;
 
}
.form-control {
  border: none;
  text-align: center;
}




