
<div class="services">
    <p>¿Qué quieres hacer?</p>
    <form [formGroup]="myForm">
        <label>
            <input type="checkbox" formControlName="selectedService0"
                (change)="services[0].selected = myForm.get('selectedService0')?.value">
            {{services[0].name}} - {{services[0].price}} €
        </label>
        <div *ngIf="myForm.get('selectedService0')?.value">
            <app-panell></app-panell>
        </div>
        <label>
            <input type="checkbox" formControlName="selectedService1"
                (change)="services[1].selected = myForm.get('selectedService1')?.value">
            {{services[1].name}} - {{services[1].price}} €
        </label>
        <label>
            <input type="checkbox" formControlName="selectedService2"
                (change)="services[2].selected = myForm.get('selectedService2')?.value">
            {{services[2].name}} - {{services[2].price}} €
        </label>
    </form>


    <p>Total: <strong>{{totalSum}} €</strong></p>
</div>